.profile{
    .profile-img{
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        img{
            width: 150px;
            height: 150px;
        }
    }
    .button{
        text-align: center;
        input{
            width: 100px;
        }
    }
}
