.general{
    #term{
        .card{
            .card-header{
                color: black;
            }
            .row{
                label{
                    color: black ;
                    opacity: 0.5;
                }
            }
        }
    }
}
