
/*======Variable Style Colors=====*/
$bg-primary : #f9f9f9;
$text-primary:#e9ecef;
$text-secondary : #123;

// Colors
$blue: #007bff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #DB6668;
$orange: #D39B46;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light: #e0e6e8;
$light-grey: #e0e6e8;
$dark: #4D5250;

// Sidebar
$sidebar-lg-size: 70px;
$sidebar-sm-size: 50px;
$sidebar-color: $dark;
$seller-sidebar-lg-size: 200px;

//background

$ecam-bg-orang-light:#FF5722;
$ecam-bg-secondary:#2c3e50;
$ecam-bg-primary:#3490dc;

