/*======Variable Style Colors=====*/

/*===Skin Light===*/

$skin-light:#f5f5f5;
$skin-light-header:#ffffff;
$skin-light-sidebar:#313a46;
$skin-light-text:#123;
$skin-light-text-brand: #f5f5f5;
$skin-light-sidebar-track:#66676d;

/*===Skin Dark===*/
$skin-dark:#222736;
$skin-dark-header:#36394c;
$skin-dark-sidebar:#2b3a4a;
$skin-dark-text:#e9ecef;
$skin-dark-text-brand: #36394c;




